<mat-toolbar class="toolbar">
    <div 
        class="title"
        (click)="goTo('dashboard')"
    >
        PlaSO
    </div>
    <div class="options">
        <button mat-button routerLink="/vacinas">Vacinação</button>
        <button mat-button routerLink="/exames">Exames</button>
        <button mat-button routerLink="/atestados">Atestados</button>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" class="name">
        Olá, {{userName}}
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button 
            mat-menu-item
            (click)="goTo('dashboard/edit-user')"
        >
            Editar usuário
        </button>
        <button 
            *ngIf="isAdmin"
            mat-menu-item
            (click)="goTo('dashboard/pending-users')"
        >
            Usuários pendentes
        </button>
        <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
</mat-toolbar>