::ng-deep .mat-toolbar{
    background-color: #20BEC6 !important;
}

::ng-deep .mat-icon{
    color: white !important;
}

.toolbar .options button{
    color: white !important;
}


.toolbar .name{
    color: white !important;
}

.toolbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 10vh;
}


.toolbar .options{
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar button{
    font-size: 17px;
    font-weight: 550;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 35px;
    cursor: pointer;
}