<mat-toolbar 
    class="toolbar"
    [ngClass]="{
        'home-shadow': isHome
    }"
>
    <div 
        class="title"
        (click)="goTo('home')"
    >
        PlaSO
    </div>
    <div class="options">
        <button mat-button routerLink="/vacinas">Vacinação</button>
        <button mat-button routerLink="/exames">Exames</button>
        <button mat-button routerLink="/aso">ASO</button>
        <button mat-button *ngIf="hasPermission" routerLink="/dashboard">Dashboard</button>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" class="name">
        Olá, {{userName}}
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button 
            mat-menu-item
            (click)="goTo('home/editar-usuario')"
        >
            Editar usuário
        </button>
        <button 
            *ngIf="hasPermission"
            mat-menu-item
            (click)="goTo('home/usuarios-pendentes')"
        >
            Usuários pendentes
        </button>
        <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
</mat-toolbar>