.container {
    margin-top: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    background-color: var(--white-color);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    padding: 20px;

}

.card .row{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
}

.fields {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fields .left{
    display: flex;
    flex-direction: column;

    width: 50%;
}

.fields .right{

    display: flex;
    flex-direction: column;

    width: 50%;
}

.w-50{
    width: 50% !important;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons button{
    width: 150px;
}

.buttons button:first-of-type{
    margin-right: 10px;
}

.buttons button:last-of-type{
    margin-left: 10px;
}


