<div class="container">
    <div class="card">
        <h2 class="title">
            {{campaignId ? "Editar Campanha" : "Nova Campanha"}}
        </h2>

        <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
            <div class="fields">
                <div class="left">
                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"  
                    >
                        <mat-label>Nome da Campanha</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="nomeCampanha"
                        >
                        <mat-error *ngIf="campaignForm.controls['nomeCampanha'].invalid">Este campo é obrigatório</mat-error>
                        
                    </mat-form-field>
        
                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"  
                    >
                        <mat-label>Vacina</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="nomeVacina"
                        >
                        <mat-error *ngIf="campaignForm.controls['nomeVacina'].invalid">Este campo é obrigatório</mat-error>

                    </mat-form-field>

                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"
                    >
                        <mat-label>Data da Campanha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dataCampanha">
                        <mat-error *ngIf="campaignForm.controls['dataCampanha'].invalid">Este campo é obrigatório</mat-error>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
        
                </div>
                <div class="right">

                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline" 
                        class="description"  
                    >
                        <mat-label>Descrição da Campanha</mat-label>
                        <textarea formControlName="descricao" matInput placeholder="Description" ></textarea>
                        <mat-error *ngIf="campaignForm.controls['descricao'].invalid">Este campo é obrigatório</mat-error>
                    </mat-form-field>                    
                </div>
            </div>
            <div class="buttons">
                <button 
                    mat-flat-button 
                    (click)="goBack()"
                    class="cancel-button"
                >
                    Cancelar
                </button>
                <button 
                    mat-flat-button 
                    [disabled]="campaignForm.invalid"
                    type="submit"
                    class="default-button"
                >
                    Salvar
                </button>
            </div>
        </form>
    </div>
    
</div>
