<div class="container">
    <div class="registration-box">
        <div class="registration-header">
            <h1>PlaSO</h1>
        </div>
        <div class="title">
            <p>Cadastro de Usuário</p>
        </div>
        <hr class="line"/>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form">
            <div class="field-row">
                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:30% !important;"
                >
                    <mat-label>Nome</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="primeiroNome"
                        >
                        <mat-error *ngIf="registrationForm.controls['primeiroNome'].invalid">Nome inválido</mat-error>
                </mat-form-field>
                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:45% !important;"
                >
                    <mat-label>Sobrenome</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="ultimoNome"
                        >
                        <mat-error *ngIf="registrationForm.controls['ultimoNome'].invalid">Nome inválido</mat-error>
                </mat-form-field>

                <mat-form-field
                    [hideRequiredMarker]="true"  
                    appearance="outline" 
                    style="width:20% !important;"

                >
                    <mat-label>Sexo</mat-label>
                    <mat-select
                        formControlName="sexoEnum"
                    >
                    <mat-option *ngFor="let sex of sexOptions" [value]="sex.value">
                        {{sex.label}}
                    </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registrationForm.controls['sexoEnum'].invalid">Este campo é obrigatório</mat-error>
                </mat-form-field>

            </div>
            <div class="field-row">
                <mat-form-field 
                    [hideRequiredMarker]="true"
                    appearance="outline"
                    style="width:40% !important;"
                >
                    <mat-label>E-mail</mat-label>
                    <input 
                        type="email" 
                        matInput 
                        formControlName="email"
                    >
                    <mat-error *ngIf="registrationForm.controls['email'].invalid">E-mail inválido</mat-error>
                </mat-form-field>

                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:25% !important;"
                >
                    <mat-label>Telefone</mat-label>
                    <input 
                        type="text" 
                        matInput 
                        formControlName="telefone"
                    >
                    <mat-error *ngIf="registrationForm.controls['telefone'].invalid">Este campo é obrigatório</mat-error>

                </mat-form-field>

                <mat-form-field
                    [hideRequiredMarker]="true"  
                    appearance="outline" 
                >
                    <mat-label>Tipo de usuário</mat-label>
                    <mat-select
                        formControlName="tipoUsuario"
                    >
                        <mat-option *ngFor="let type of userTypes" [value]="type.value">
                            {{type.label}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registrationForm.controls['tipoUsuario'].invalid">Este campo é obrigatório</mat-error>
                </mat-form-field>


            </div>
            <div class="field-row">


                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:31% !important;"
                >
                    <mat-label>CPF</mat-label>
                    <input 
                        type="text" 
                        matInput 
                        formControlName="cpf"
                    >
                    <mat-error *ngIf="registrationForm.controls['cpf'].invalid">Este campo é obrigatório</mat-error>
                    
                </mat-form-field>
   
                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:31% !important;"

                >
                    <mat-label>Setor</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="setor"
                        >
                        <mat-error *ngIf="registrationForm.controls['setor'].invalid">Campo inválido</mat-error>
                </mat-form-field>

                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:31% !important;"

                >
                    <mat-label>Cargo</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="cargo"
                        >
                        <mat-error *ngIf="registrationForm.controls['cargo'].invalid">Campo inválido</mat-error>
                </mat-form-field>
            </div>
            <div class="field-row">
                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"
                    style="width:31% !important;"
                >
                    <mat-label>Data de nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataAniversario">
                    <mat-error *ngIf="registrationForm.controls['dataAniversario'].invalid">Este campo é obrigatório</mat-error>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:31% !important;"
                >
                    <mat-label>Senha</mat-label>
                    <input 
                        matInput 
                        formControlName="senha"
                        [type]="hidePassword ? 'password' : 'text'"
                    >
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="changePasswordVisibility()"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword"
                    >
                        <mat-icon>{{ hidePassword ? "visibility" : "visibility_off" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="registrationForm.controls['senha'].invalid">Este campo é obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field 
                    [hideRequiredMarker]="true"  
                    appearance="outline"  
                    style="width:31% !important;"
                >
                    <mat-label>Confirmar senha</mat-label>
                    <input 
                        matInput 
                        formControlName="confirmaSenha"
                        [type]="hidePassword ? 'password' : 'text'"
                    >
                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="changePasswordVisibility()"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword"
                    >
                        <mat-icon>{{ hidePassword ? "visibility" : "visibility_off" }}</mat-icon>
                    </button>
                    <mat-error *ngIf="registrationForm.controls['confirmaSenha'].invalid">Este campo é obrigatório</mat-error>
                </mat-form-field>

                
            </div>

            <hr class="line"/>

            <div class="footer">
                <button 
                    mat-raised-button 
                    color="warn" 
                    class="left-button"
                    type="button"
                    (click)="cancel()"
                >
                    Cancelar
                </button>

                <button 
                    type="submit"
                    mat-raised-button 
                    color="primary" 
                    class="right-button"
                    [disabled]="registrationForm.invalid"
                >
                    Criar conta
                </button>
            </div>

        </form>

    </div>
</div>

