<div class="container">
    <div class="card">
        <div class="row">
            <h2 class="title">
                Editar Usuário
            </h2>
            <button 
                mat-flat-button 
                color="warn"
                (click)="deleteAccount()"
            >
                <mat-icon>delete</mat-icon>
                Deletar Conta
            </button>
        </div>

        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="fields">
                <div class="left">
                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"  
                    >
                        <mat-label>Nome</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="primeiroNome"
                        >
                        <mat-error *ngIf="editForm.controls['primeiroNome'].invalid">Este campo é obrigatório</mat-error>
                        
                    </mat-form-field>
        
                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"  
                    >
                        <mat-label>Sobrenome</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="ultimoNome"
                        >
                        <mat-error *ngIf="editForm.controls['ultimoNome'].invalid">Este campo é obrigatório</mat-error>

                    </mat-form-field>
        
                    <mat-form-field
                        [hideRequiredMarker]="true"  
                        appearance="outline" 
                    >
                        <mat-label>Sexo</mat-label>
                        <mat-select
                            formControlName="sexoEnum"
                        >
                            <mat-option *ngFor="let sex of sexOptions" [value]="sex.value">
                                {{sex.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="editForm.controls['sexoEnum'].invalid">Este campo é obrigatório</mat-error>
                        
                    </mat-form-field>
                </div>
                <div class="right">
                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"  
                    >
                        <mat-label>Telefone</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="telefone"
                        >
                        <mat-error *ngIf="editForm.controls['telefone'].invalid">Este campo é obrigatório</mat-error>

                    </mat-form-field>
        
                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"  
                    >
                        <mat-label>Setor</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            formControlName="setor"
                        >
                        <mat-error *ngIf="editForm.controls['setor'].invalid">Este campo é obrigatório</mat-error>
                            
                    </mat-form-field>
        
                    <mat-form-field 
                        [hideRequiredMarker]="true"  
                        appearance="outline"
                    >
                        <mat-label>Data de nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dataAniversario">
                        <mat-error *ngIf="editForm.controls['dataAniversario'].invalid">Este campo é obrigatório</mat-error>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="buttons">
                <button 
                    mat-flat-button 
                    (click)="goBack()"
                    class="cancel-button"
                >
                    Cancelar
                </button>
                <button 
                    mat-flat-button 
                    [disabled]="editForm.invalid"
                    type="submit"
                    class="default-button"
                >
                    Salvar
                </button>
            </div>
        </form>
    </div>
    
</div>
