.header{
    background-color: #20BEC6;
    color: #fff;

    height: 10vh;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-left: 5rem;
    padding-right: 5rem;
}

.title {
    font-family: 'Anton', sans-serif;

    font-size: 35px;
}

.modules {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 50%;

    font-size: 20px;
    font-weight: 500;
}

.user {
    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid #fff;
    border-radius: 5px;

    font-size: 16px;

}
